node_modules/ 

.env* 
.DS_Store
# minor edit
npm-debug.log*  
# update
# minor edit
yarn-debug.log* 
yarn-error.log* 
*.log 

*.tsbuildinfo 
# minor edit
# minor edit
package-lock.json  
# update
.idea/  

.vscode/ 
# update
coverage/
/dist/
# minor edit
# minor edit

# minor edit

*.local
# update
# minor edit
# update
*.swp
*.swo    

# minor edit
template.html
Thumbs.db
# minor edit
# update
Desktop.ini  
*.DS_Store 
*.lnk
build/ 