node_modules/ 
.env* 
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# update
*.log 

*.tsbuildinfo
package-lock.json 

.idea/
.vscode/
coverage/
/dist/
*.local
*.swp
*.swo 
template.html
# minor edit
Thumbs.db
# minor edit
Desktop.ini
*.DS_Store

# update
*.lnk
build/
# minor edit

# minor edit
# update